#categoriesContainer {
  box-shadow: 0 0 15px lightgrey;
}

#categories {
  width: 80%;
  margin: auto;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.category-title {
  margin: 0 3rem 0 0;
  font-weight: 500;
  cursor: pointer;
  color: grey;
}
