* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.fa-cart-shopping,
.fa-right-to-bracket {
  font-size: 1.8rem;
  color: grey;
}

main {
  padding: 1rem;
}

#authorName {
  margin-left: 5px;
}

footer {
  position: relative;
  bottom: 0;
  height: 10vh;
  background: lightgrey;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}