* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-content,
.error-container {
  display: none;
}

.active-content {
  display: block;
}

.navbar {
  z-index: 5;
}

.container-fluid {
  width: 80%;
  margin: auto;
}

.fa-cart-shopping,
.fa-right-to-bracket {
  font-size: 1.8rem;
  color: grey;
}

main {
  margin: auto;
  width: 80%;
  min-height: 76vh;
  overflow: scroll;
}

#loader {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

#authorName {
  margin-left: 5px;
}

#loadMore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

footer {
  position: relative;
  bottom: 0;
  height: 10vh;
  background: lightgrey;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

#message {
  color: grey;
  text-align: center;
  display: none;
}

#errorPage {
  height: 100vh;
  width: 100vw;
}
